*
    margin: 0
    padding: 0
    box-sizing: border-box

body, html
    height: 100%


@media (min-width: 700px)
    :root
        font-size: 62.5%

ul
    list-style: none

button
    cursor: pointer
    border: none