.main-container
    display: flex
    width: 100vw
    height: 100vh
    justify-content: center
    align-items: center

.left-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 50%
    height: 100%

.right-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 50%
    height: 100%

.login-form-container
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    height: 50%
    width: 40%
    color: #FFFFFF
    border: 2px solid #ddf5f4
    border-radius: 0.8rem

.login-title-container
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    color: #FFFFFF

.login-input-container
    display: flex
    flex-direction: column
    justify-content: center
    width: 70%
    gap: 1rem
    color: #FFFFFF
    > label
        font-size: 1.5rem

.login-input
    display: flex
    width: 60&
    padding: 0.4rem
    border: none
    border-radius: 0.3rem
    background-color: #ddf5f4
    font-weight: 600

.login-button-container
    display: flex
    justify-content: center
    align-items: center
    width: 100%

.login-button
    display: flex
    padding: 0.8rem 1.6rem
    background-color: #ddf5f4
    border-radius: 0.5rem
    font-weight: 800
    &:hover
        background-color: #48a9af
        color: #FFFFFF

.error-messages
    color: red
    font-size: 1.5rem

.login-texts-container
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    font-size: 1.2rem
    color: #FFFFFF
    gap: 0.7rem

.toregister-button
    padding: 0.3rem 0.6rem
    font-weight: 600
    border-radius: 0.3rem
    background-color: #ddf5f4
    &:hover
        background-color: #48a9af
        color: #FFFFFF